.ipynb_checkpoints/
__pycache__/
*.pyc

selected_symbol.txt

stock_data.csv
clean_data.csv
cleaned_rounded.csv

.env
venv/
.venv/

node_modules/
dist/

*.pbix

stockBridgeVisual/.tmp/
stockBridgeVisual/.vscode/
